{% extends 'writer_register/base.html' %}



{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <td scope="col">#</th>
            <td scope="col">Name</th>
            <td scope="col">Phone Number</th>
            <td scope="col">Experience</th>
            <td><a href="{% url 'writers_insert' %}" ><button type="submit" class="btn btn-success btn-sm"><i class="bi bi-plus"></i></button></a></td>
        </tr>
    </thead>
    <tbody>
        {% for writer in writers_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{writer.fullname}}</td>
                <td>{{writer.mobile}}</td>
                <td>{{writer.experience}}</td>
                <td class='row'><a href="{% url 'writers_update' writer.id %}" ><button type="submit" class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></button></a>
                <form class='ml-1' action="{% url 'writers_delete' writer.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}