{% extends 'writer_register/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method='POST' autocomplete='off'>
    {%csrf_token%}
    <div class="row">
        <div class="col">{{form.fullname | as_crispy_field}}</div>
        <div class="col">{{form.mobile | as_crispy_field}}</div>
        <div class="col pr-1">{{form.experience | as_crispy_field}}</div>
    </div>
    <div class='row mt-2'>
        <div  class="col-md-8"><button type="submit" class="btn btn-success btn-block">Submit</button></div>
        <div class="col-md-4"><a href={% url 'writers_list' %} class="btn btn-secondary btn-block">Go to List</a></div>
    </div>
</form>
{% endblock content %}